* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monteserrat, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;   
    width: 100%;
}

.column-20 {
    display: flex;
    width: 20%;
}

.column-30 {
    display: flex;
    width: 30%;
}

.column-40 {
    width: 40%;
}

.column-60 {
    display: flex;
    width: 60%;
}

.column-100 {
    display: flex;
    width: 100%;
}

button {
    color: black;
    padding: 7px 16px;
    border-radius: 25px;
}

button.nero {
    background-color: black;
    color: white;
}

button.viola {
    background-color: rgb(142, 161, 225);
}

img {
    width: 100%;
}

h2 {
    font-size: 35px;
}

p {
    line-height: 1.5em;
}

.onda-up {
    opacity: 0.1;
    background-image: url(../img/wave.svg);
    background-size: cover;
    height: 100px;
}

.onda-down {
    opacity: 0.1;
    transform: scale(-1);
    background-image: url(../img/wave.svg);
    background-size: cover;
    height: 100px;
}

.rotate-90 {
    display: inline-block;
    transform: rotate(90deg);
}

/* sezione header */

header {
    background-color: rgb(49, 97, 224);
    display: flex;
    color: white;
}

.container-header {
    display: flex;
    width: 75%;
    margin: 10px auto;
}

.column-60-header {
    justify-content: center;
    align-items: center;
}

.column-20-header {
    display: flex;
    align-items: center;
}

.column-20-header-left{
    justify-content: flex-start;
}

.column-20-header-right {
    justify-content: flex-end;
}

.logo-header {
    padding: 5px 10px;
}

.login-header {
    margin-right: 10px;
}

.link-header {
    margin: 0px 15px;
}

/* prima sezione */

.container-prima-sezione {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
}

.prima-sezione {
    width: 50%;
    margin: 50px auto 100px;
}

.column-prima-sezione {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.column-prima-sezione > p {
    text-align: center;
    margin: 30px 0 15px 0;
}

.container-seconda-sezione {
    display: flex;
    width: 100%;
}

.seconda-sezione {
    display: flex;
    width: 70%;
    margin: 0px auto 50px auto;
}

.seconda-sezione p {
    margin-top: 18px;
}

.seconda-sezione h2 {
    margin-top: 80px;
}

.seconda-sezione .column-40 {
    margin-left: 50px;
}

.container-terza-sezione {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.terza-sezione {
    display: flex;
    width: 70%;
    margin: 50px auto;
}

.terza-sezione .column-40 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 40px;
}

.terza-sezione .column-60 {
    margin: 0 40px;
}

.terza-sezione h2 {
    margin: 15px 0;
}

/* quarta sezione */

.container-quarta-sezione {
    display: flex;
    width: 100%;
}

.quarta-sezione {
    display: flex;
    width: 70%;
    margin: 50px auto;
}

.quarta-sezione .column-40 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 40px;
}

.quarta-sezione .column-60 {
    margin: 0 40px;
}

.quarta-sezione h2 {
    margin-bottom: 15px;
}
/* quinta sezione */

.container-quinta-sezione {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.quinta-sezione {
    display: flex;
    width: 70%;
    margin: 50px auto;
}

.quinta-sezione .column-100 {
    flex-direction: column;
    align-items: center;
}

.quinta-sezione h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

.quinta-sezione p {
    width: 90%;
    text-align: center;
    margin-top: 8px;
}

.stelline {
    width: 60%;
    height: 10%;
    background-image: url(../img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
}

.stelline h3 {
    margin: auto;
    padding: 10px;
    font-size: 25px;
}

.quinta-sezione button {
    color: white
}

/* sesta sezione */

.container-sesta-sezione {
    display: flex;
    width: 100%;
    background-color: rgb(35, 39, 42);
}

.sesta-sezione {
    display: flex;
    width: 70%;
    margin: 50px auto 0 auto;
    border-bottom: 1px solid rgb(114, 137, 218);
}

.column-piccola-sesta {
    display: flex;
    flex-direction: column;
    width: calc(70% / 4);
    height: 100%;
}

.sesta-sezione .column-30 {
    flex-direction: column;
}

.sesta-sezione .column-30 img {
    width: 8%;
}

.sesta-sezione span {
    margin: 10px 0;
    color: white;
}

.sesta-sezione h3 {
    font-size: 30px;
    color: rgb(114, 137, 218);
}

.sesta-sezione h6 {
    font-size: 18px;
    color: rgb(114, 137, 218);
}

.icone-social i {
    margin: 0 15px 0 0;
}

.column-piccola-sesta ul {
    list-style: none;
    color: white;
    font-size: 15px;
}

.column-piccola-sesta li {
    margin: 8px 0;
}

/* sezione footer */

footer {
    display: flex;
    background-color: rgb(35, 39, 42);
    align-items: flex-start;
    justify-content: center;
}

.container-footer {
    display: flex;
    width: 70%;
    padding-bottom: 50px;
}

.column-footer {
    border: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.bottone-footer {
    color: white;
}