* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monteserrat, sans-serif;
}

/* utilities */

.row {
    display: flex;
    flex-direction: row;   
    width: 100%;
    height: 100%;
}

.column-20 {
    display: flex;
    width: 20%;
    height: 100%;
    /* border: 1px dashed black; */
}

.column-30 {
    display: flex;
    width: 30%;
    height: 100%;
    border: 1px dashed black;
}

.column-40 {
    /* display: flex; */
    width: 40%;
    height: 100%;
    border: 1px dashed black;
}

.column-60 {
    display: flex;
    width: 60%;
    height: 100%;
    /* border: 1px dashed black; */
}

.column-100 {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px dashed black;
}

button {
    color: black;
    padding: 10px 12px;
    border-radius: 45%;
}

button.nero {
    background-color: black;
    color: white;
}

.bg-blue {
    background-color: rgb(30, 144, 255);
}

.bg-pink {
    background-color: rgb(255, 192, 203);
}

.bg-salmone {
    background-color: rgb(240, 128, 128);
}

img {
    width: 100%;
}

h2 {
    font-size: 35px;
}

p {
    line-height: 1.5em;
}

.onda-up {
    opacity: 0.1;
    background-image: url(../img/wave.svg);
    background-size: cover;
    height: 100px;
}

.onda-down {
    opacity: 0.1;
    transform: scale(-1);
    background-image: url(../img/wave.svg);
    background-size: cover;
    height: 100px;
}

/* sezione header */

header {
    background-color: rgb(49, 97, 224);
    display: flex;
    color: white;
}

.container-header {
    display: flex;
    width: 75%;
    margin: 10px auto;
    /* height: 40px; */
    /* background-color: rgb(218, 165, 32) */
}

.column-60-header {
    justify-content: center;
    align-items: center;
}

.column-20-header {
    display: flex;
    align-items: center;
}

.column-20-header-left{
    justify-content: flex-start;
}

.column-20-header-right {
    justify-content: flex-end;
}

.logo-header {
    padding: 5px 10px;
}

.login-header {
    margin-right: 10px;
}

.link-header {
    margin: 0px 15px;
}

/* prima sezione */

.container-prima-sezione {
    /* background-color: rgb(0, 0, 139); */
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.prima-sezione {
    /* display: flex; */
    width: 50%;
    /* height: 400px; */
    /* background-color: rgb(238, 130, 238); */
    margin: 50px auto 100px;
}

.column-prima-sezione {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.column-prima-sezione > p {
    text-align: center;
}

/* seconda sezione */

.container-seconda-sezione {
    display: flex;
    /* height: 600px; */
    width: 100%;
}

.seconda-sezione {
    display: flex;
    width: 60%;
    /* height: 500px; */
    margin: 0px auto;
}

.seconda-sezione p {
    margin-top: 18px;
}

.seconda-sezione h2 {
    margin-top: 120px;
}

/* terza sezione */

.container-terza-sezione {
    display: flex;
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.terza-sezione {
    display: flex;
    width: 60%;
    height: 500px;
    margin: 50px auto;
}

.terza-sezione .column-40 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.terza-sezione h2 {
    margin: 15px 0;
}

/* quarta sezione */

.container-quarta-sezione {
    display: flex;
    height: 600px;
    width: 100%;
}

.quarta-sezione {
    display: flex;
    width: 60%;
    height: 500px;
    margin: 50px auto;
}

.quarta-sezione .column-40 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quarta-sezione h2 {
    margin-bottom: 15px;
}
/* quinta sezione */

.container-quinta-sezione {
    display: flex;
    height: 1200px;
    width: 100%;
    background-color: rgb(211, 211, 211);
}

.quinta-sezione {
    display: flex;
    width: 70%;
    height: 1100px;
    background-color: rgb(34, 139, 34);
    margin: 50px auto;
}

.quinta-sezione .column-100 {
    flex-direction: column;
    align-items: center;
}

.quinta-sezione p {
    width: 80%;
    text-align: center;
    margin-top: 10px;
}

.stelline {
    width: 60%;
    height: 10%;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: 180%;
}

.stelline h3 {
    margin: auto;
}

/* sesta sezione */

.container-sesta-sezione {
    display: flex;
    height: 600px;
    width: 100%;
    background-color: rgb(35, 39, 42);
}

.sesta-sezione {
    display: flex;
    width: 60%;
    height: 500px;
    margin: 50px auto;
}

.column-piccola-sesta {
    display: flex;
    width: calc(70% / 4);
    height: 100%;
    border: 1px dashed white;
    background-color: rgb(32, 178, 170);
}

/* sezione footer */

footer {
    display: flex;
    background-color: rgb(35, 39, 42);
    height: 100px;
    align-items: flex-end;
    justify-content: center;
}

.container-footer {
    display: flex;
    width: 60%;
    height: 80px;
    background-color: rgb(127, 255, 212);
}

.column-footer {
    border: none;
    justify-content: space-between;
    align-items: center;
}

.logo-footer, .bottone-footer {
    background-color: rgb(255, 182, 193);
    border: 1px dashed black;
    padding: 5px;
}